<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6416335466-f8c0ju43fegasui2m0f4mt84v4jq5bh0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6416335466-f8c0ju43fegasui2m0f4mt84v4jq5bh0</string>
	<key>API_KEY</key>
	<string>AIzaSyCm1C83ej4e_6N6OCq0zXw3bkzSAvB1B-I</string>
	<key>GCM_SENDER_ID</key>
	<string>6416335466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>popoz.tconnect.mangcoo</string>
	<key>PROJECT_ID</key>
	<string>mangcoo</string>
	<key>STORAGE_BUCKET</key>
	<string>mangcoo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6416335466:ios:e21558a1b5db2c20c74013</string>
</dict>
</plist>