<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Mangcoo</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>LINELoginAPI</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>line3rdp.$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>FACEBOOKLoginAPI</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb262219965624912</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GOOGLELoginAPI</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.6416335466-f8c0ju43fegasui2m0f4mt84v4jq5bh0</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>262219965624912</string>
	<key>FacebookClientToken</key>
	<string>89e7ae583522a6063f1bcf379ac3724d</string>
	<key>FacebookDisplayName</key>
	<string>Mangcoo</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>lineauth2</string>
		<string>line3rdp.$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LineSDKConfig</key>
	<dict>
		<key>ChannelID</key>
		<string>1655950063</string>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Mangcoo Music Usage</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Mangcoo Bluetool Usage</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Mangcoo BluetoothPeripheral</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Mangcoo Calendar Usage</string>
	<key>NSCameraUsageDescription</key>
	<string>เพื่อแสดงรูปภาพโปรไฟล์ของคุณ</string>
	<key>NSContactsUsageDescription</key>
	<string>Mangcoo ต้องการเข้าถึงข้อมูลการติดต่อของคุณ</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Mangcoo FaceID Usage</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>เพื่อแสดงตำแหน่งปัจจุบันของคุณ และแนะนำสถานที่น่าสนใจให้กับคุณ</string>
	<key>NSLocationUsageDescription</key>
	<string>เพื่อแสดงตำแหน่งปัจจุบันของคุณ และแนะนำสถานที่น่าสนใจให้กับคุณ</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>เพื่อแสดงตำแหน่งปัจจุบันของคุณ และแนะนำสถานที่น่าสนใจให้กับคุณ</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Mangcoo Microphone Usage</string>
	<key>NSMotionUsageDescription</key>
	<string>Mangcoo Motion Usage</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>เพื่อแสดงรูปภาพโปรไฟล์ของคุณ</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>เพื่อแสดงรูปภาพโปรไฟล์ของคุณ</string>
	<key>NSRemindersUsageDescription</key>
	<string>Mangcoo Reminder Usage</string>
	<key>NSSiriUsageDescription</key>
	<string>Mangcoo Siri Usage</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Mangcoo Speech Recognition Usage</string>
	<key>NSVideoSubscriberAccountUsageDescription</key>
	<string>Mangcoo Video Subscribe Usage</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
	<key>kTCCServiceMediaLibrary</key>
	<string>Mangcoo MediaLibrary Usage</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>th</string>
	</array>
</dict>
</plist>
